/* CSS stylesheet */
* {
    --content-background-color: gray;
    --dashboard-background-color: blue;
    --card-color:white;
    --card-border-color:orange;
    margin:0;
    padding:0;
}

/* overall page sectioning and font family*/
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.dashboard.section {
    padding:12px;
    grid-row: 1/3;
    background-color: var(--dashboard-background-color);
}

.content.section {
    background-color: var(--content-background-color);
}

/* dashboard section */
.dashboard.section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* this is the 3 groups of dashboard options */
.dashboard.section>div {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;
    color: white;
}

/* this is each pair of icon + dashboard option */
.dashboard.section>div>div {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 2px;
    align-items: center;
}

.dashboard.section .logo h1 {
    font-size: 25px;
}

.dashboard.section>div>div>p {
    font-weight: bold;
}

.logo img {
    height: 40px;
    justify-self: center;
}

.main-dashboard img,
.settings-dashboard img {
    height: 20px;
    justify-self: center;
}

/* changing SVG to white */
.dashboard.section img {
    filter: invert(100%) sepia(14%) saturate(2%) hue-rotate(88deg) brightness(115%) contrast(100%);
}

/* header section*/
.header.section {
    margin: 10px;
    margin-left: 20px;
    display: grid;
    grid-template-rows: 2fr 3fr;

    /* top side of header */
    & .header-top {
        display: grid;
        grid-template-columns: 3fr minmax(200px, 1fr);
        gap: 30px;
    }

    /* topleft side of header */
    & .search-bar {
        display: grid;
        grid-template-columns: 25px 1fr;
        align-items: center;
        gap: 10px;
    }

    & .search-bar input#image {
        height: auto;
    }

    & input[type=text] {
        width: 100%;
        padding: 6px 3px;
        border-radius: 15px;
        background-color: var(--content-background-color);
        border: none;
    }

    /* topright side of header */
    & .profile-area {
        display: grid;
        grid-template-columns: 20px 40px minmax(125px, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    & .profile-area img {
        height: auto;
    }

    & .profile-area img.icon {
        background-color: rgb(122, 255, 200);
        border-radius: 100%;
        height: auto;
        width: 100%;
        aspect-ratio: 1/1;
    }

    & .profile-area p {
        font-weight: bold;
    }

    /* bottom side of header */
    & .header-bottom {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-rows: 1fr;
    }

    /* bottomleft of header */
    & .intro-area {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: start;
        align-items: center;
        gap: 0px 10px;
    }

    & .intro-area .welcome-text {
        grid-template-rows: 1/2;
        font-weight:bold;
        font-size:small;
        align-self:end;
    }

    & .intro-area .username-text {
        grid-column: 2/3;
        grid-row: 2/3;
        font-weight: bold;
        align-self:start;
    }

    & .intro-area img {
        background-color: rgb(122, 255, 200);
        border-radius: 100%;
        height: 50px;
        width: auto;
        aspect-ratio: 1/1;
        grid-row: 1/3;
    }

    /* bottomright of header */
    & .upload-button-area{
        justify-self: end;
        display:grid;
        grid-template-columns: repeat(3, 70px);
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    & .upload-button-area button{
        background-color: var(--dashboard-background-color);
        color: white;
        border-radius: 25px;
        border: none;
        padding: 7px;
    }
}

/* main content area */
.content.section{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:13px;

    & .projects.section{
        grid-row: 1/3;
        display:grid;
        grid-template-rows: 40px;
        grid-auto-rows: 200px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }

    & .projects.section .title{
        grid-column: 1 / -1;
    }

    & .projects.section .card{
        background-color: var(--card-color);
        border-radius: 8px;
        border-left: 8px solid var(--card-border-color);
    }
}